services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: dashboard_frontend
    ports:
      - "8080:80"
    networks:
      - dashboardnet
    logging:
      driver: "none"

  rtsp-server:
    image: bluenviron/mediamtx:latest
    container_name: dashboard_rtsp
    ports:
      - "8554:8554"
    networks:
      - dashboardnet
    logging:
      driver: "none"

  pagecaster:
    image: ghcr.io/rmitchellscott/pagecaster:latest
    container_name: dashboard_pagecaster
    depends_on:
      - frontend
      - rtsp-server
    environment:
      - WEB_URL=http://frontend
      - AUDIO_SOURCE=silent
      - RTMP_URL=rtmp://rtsp-server:1935/dashboard
      - SCREEN_WIDTH=1280
      - SCREEN_HEIGHT=720
      - FRAMERATE=3
      - FFMPEG_PRESET=veryfast
    shm_size: "512m"
    networks:
      - dashboardnet
    logging:
      driver: "none"

networks:
  dashboardnet:
    driver: bridge
