services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: dashboard_frontend
    ports:
      - "8080:80"
    networks:
      - dashboardnet
    restart: unless-stopped
    logging:
      driver: "none"

  rtsp-server:
    image: bluenviron/mediamtx:latest
    container_name: dashboard_rtsp
    ports:
      - "8554:8554"
    networks:
      - dashboardnet
    restart: unless-stopped
    logging:
      driver: "none"

  pagecaster-dashboard:
    image: ghcr.io/rmitchellscott/pagecaster:latest
    container_name: dashboard_pagecaster
    depends_on:
      - frontend
      - rtsp-server
    restart: unless-stopped
    environment:
      - WEB_URL=http://frontend
      - AUDIO_SOURCE=silent
      - RTMP_URL=rtmp://rtsp-server:1935/dashboard
      - SCREEN_WIDTH=1280
      - SCREEN_HEIGHT=720
      - FRAMERATE=3
      - FFMPEG_PRESET=veryfast
    shm_size: "512m"
    networks:
      - dashboardnet
    logging:
      driver: "none"

  pagecaster-uptimekuma:
    image: ghcr.io/rmitchellscott/pagecaster:latest
    container_name: dashboard_pagecaster_uptimekuma
    depends_on:
      - rtsp-server
    restart: unless-stopped
    environment:
      - WEB_URL=http://192.168.1.12:8081/status/thuisnetwerk
      - AUDIO_SOURCE=silent
      - RTMP_URL=rtmp://rtsp-server:1935/uptimekuma
      - SCREEN_WIDTH=1920
      - SCREEN_HEIGHT=1080
      - FRAMERATE=3
      - FFMPEG_PRESET=veryfast
      - CHROME_ARGS=--force-device-scale-factor=0.50
    shm_size: "512m"
    networks:
      - dashboardnet
    logging:
      driver: "none"

networks:
  dashboardnet:
    driver: bridge
